* {
  font-family: JetBrainsMonoNS Nerd Font;
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  all: unset;
  background-color: #242933;
}

#clock {
  padding: 0 15px;
  background-color: #5E81AC; 
  background-color: rgba(94, 129, 172, 0.1);
  border-top: 2px solid rgba(94, 129, 172, 1);
  color: rgba(94, 129, 172, 1);
}

#workspaces button.active {
  border-radius: 0;
  background-color: rgba(128, 179, 178, 0.1);
  border-top: 2px solid rgba(128, 179, 178, 1);
  color: rgba(128, 179, 178, 1);
}

#workspaces label {
  font-size: 18px;
}

#cpu {
  min-width: 60px;
  padding: 0 15px;
  background-color: rgba(203, 119, 93, 0.1);
  border-top: 2px solid rgba(203, 119, 93, 1);
  color: rgba(203, 119, 93, 1);
}

#memory {
  min-width: 60px;
  padding: 0 15px;
  background-color: rgba(151, 182, 124, 0.1);
  border-top: 2px solid rgba(151, 182, 124, 1);
  color: rgba(151, 182, 124, 1);
}

#custom-temperature {
  min-width: 60px;
  padding: 0 15px;
  background-color: rgba(183, 78, 88, 0.1);
  border-top: 2px solid rgba(183, 78, 88, 1);
  color: rgba(183, 78, 88, 1);
}

#custom-gpu {
  min-width: 60px;
  padding: 0 15px;
  background-color: rgba(231, 193, 115, 0.1);
  border-top: 2px solid rgba(231, 193, 115, 1);
  color: rgba(231, 193, 115, 1);
}
