* {
  font-family: JetBrainsMonoNL Nerd Font;
  font-size: 16px;
  border-radius: 0;
  min-height: 0;
  border: none;
  font-weight: 600;
}

window#waybar {
  all:unset;
  opacity: 0.9;
}

.modules-left {
  padding: 7px 15px;
  margin:10px 0 5px 5px;
  border-radius:10px;
  background-color: #3a3858;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  color: #f2f0e5;
}

.modules-center {
  padding: 7px;
  margin:10px 0 5px 0;
  border-radius:10px;
  background-color: #3a3858;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  color: #f2f0e5;
}

#workspaces button {
  color: #646365;
  transition: all .2s ease;
}

#workspaces button:hover {
  color: #b8b5b9;
  border: none;
  background-color: rgba(0,0,0,0);
}

#workspaces button label {
  font-size: 12px;
}

#workspaces button.active {
  color: #4b80ca;
}

#workspaces button.active label {
  font-size: 20px;
}

#custom-hardware  {
  padding: 0 5px 0 0;
}

#hardware {
  padding: 7px 15px;
  margin: 10px 5px 5px 0;
  border-radius:10px;
  background-color: #3a3858;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  color: #f2f0e5;
}

#infos {
  padding: 7px;
  margin: 10px 5px 5px 0;
  border-radius:10px;
  background-color: #3a3858;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  color: #f2f0e5;
}

#infos label {
  padding: 0 12px;
}
