[Unit]
Description=Spotify Notification Daemon
After=graphical-session.target

[Service]
ExecStart=/home/elias/.local/bin/spotify-notify
Restart=on-failure

[Install]
WantedBy=default.target
